body {
    background-color:rgb(248, 248, 248);
    width: 110ch;
margin: auto;}

.banner {background: linear-gradient(217deg, rgba(62, 131, 166, 0.8), rgba(0, 247, 255, 0) 70.71%),
    linear-gradient(127deg, rgba(0, 123, 255, 0.906), rgba(174, 133, 139, 0.856) 70.71%),
    linear-gradient(336deg, rgba(223, 223, 238, 0.8), rgba(0,0,255,0) 70.71%);; overflow: hidden;
width: 113.5ch} 

.part1{text-align: center; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: aliceblue; 
    height: 50px;
}


.intro{
    border-spacing: 90px 10px  
}

.myinfo {
    color: rgb(255, 255, 255);
    text-align: center;
    width: 35ch;
    font-size: 150%;
    margin-top: -40px
}

.image_wrap img{
    border-radius: 100%;
       width: 25ch;
       height:25ch;
       border-color: #f3f5f7;
       border-style: solid;
}

.contacts {
    background: linear-gradient(0.25turn, #3f87a680, #e1e9f887, #f69c3c49);;width: 113.5ch; margin-top: 3ch;
}

#links img{border-radius: 100%; margin-right: 13ch; margin-left: 16ch; height: 300%; 
    border-color: #f3f5f7;
    border-style: solid;
}

#name{text-align: center; font-size: 185%; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-weight: bold; color: azure;
    padding-top: 150px}

.content{font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: aliceblue;
  }


.legal{
    position:relative;   
    width:300px;
    height:400px;
    background:linear-gradient(#159193, #aabce1);
    margin:5px auto;
    
    
    
}
.block1{
    position:absolute;
    left:0;
    bottom:0;
    right:0;
    top:0;
    background:#368ea4e9;
    padding:5px;
    display:none;
    
}
.legal:hover .block1{
    display:block;
    ;
}

.front-end{
    position:relative;   
    width:300px;
    height:400px;
    background:linear-gradient(#c0ca0b, #bdcae3);
     margin:5px auto;
}
.block2{
    position:absolute;
    left:0;
    bottom:0;
    right:0;
    top:0;
    background:rgba(174, 178, 69, 0.832);
    padding:5px;
    display:none;
    
}
.front-end:hover .block2{
    display:block;
}


.music{
    position:relative;   
    width:300px;
    height:400px;
    background:linear-gradient(#841593, #aabce1);
     margin:5px auto;
}
.block3{
    position:absolute;
    left:0;
    bottom:0;
    right:0;
    top:0;
    background:rgba(169, 83, 186, 0.962);
    padding:5px;
    display:none;
}
.music:hover .block3{
    display:block;
}

.foot {
    text-align: center; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: #10218a80;
}

footer {
    align-items: center;
  flex-direction: column;
    display: flex;
}